include partials/header

link(rel="stylesheet" href="/stylesheet/index.css")

body
  .header
    .header-text
      h3 ryan willpower
      h1 fullstack
      h3 developer
      h4 I'm the person who want to be the fullstack developer

  nav
    .container
      .nav-wraper
        a(href="#" data-activates="menu" class="button-collapse") <i class="material-icons">menu</i>
        ul(class="hide-on-med-and-down")
          li.active
            a(href="/index") home
          li
            a(href="https://github.com/Ryan-Willpower" target="_blank") works
          li
            a(href="#") contact
        
        ul(id="menu" class="side-nav")
          li.active
            a(href="/index") home
          li
            a(href="https://github.com/Ryan-Willpower" target="_blank") works
          li
            a(href="#") contact
    
  .container          
    .main
      .text
        h2 about me
        p.first-p
        |I love to coding since <strong>2016</strong>.
        br
        |That happened when I learned about <strong>Algholithm</strong> and <strong>C#</strong>.
        br
        |Before that, I learn more.. and more..
        
        p.second-p
        |I want to be the <strong>fullstack developer</strong>.
        br
        |Someone give me a passion and inspire me how amazing fullstack developer is.
        br
        |So now I always learning a lot of programing skill.
        br
        |Ps. And I can work as network engineer too ;)
        
        script(src="/javascript/index.js")
        
include partials/footer