include partials/header
    
.container          
  .main
      .text
        h2 about me
        p.first-p
        |I love to coding since 2016.
        br
        |That happened when I learned about Algholithm and C#.
        br
        |Before that, I learn more.. and more..
        
        p.second-p
        |I want to be the fullstack developer.
        br
        |Someone give me a passion and inspire me how amazing fullstack developer is.
        br
        |So now I always learning a lot of programing skill.
        br
        |Ps. And I can work as network engineer too ;)
        
        script(src="/javascript/index.js")
        
include partials/footer